
* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: rgb(200,200,200);
  font-family: 'Prompt', sans-serif;
}

.wrapper {
  height: 100vh;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  height: 100%;
  z-index: 3;
  position: relative;
}

.logo img {
  margin-top: 2rem;
  width: 5rem;
  height: 5rem;
}

.title h2 {
  font-size: 4vw;
  letter-spacing: 0.2vw;
  padding-bottom: 1rem;
}

.links a {
  text-decoration: none;
}

.link {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.4rem 2rem;
  border: 0.1rem solid rgb(200,200,200);
  transition: 0.5s;
}

.link:hover {
  background: rgb(200,200,200);
  color: rgb(20,20,20);
}

.social {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.social a:hover .socialLink {
  background: white;
}

.socialLink {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: rgba(200,200,200);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  transition: 0.5s;
}

.socialLink i {
  display: inline-block;
  font-size: 1rem;
  color: black;
}




@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(./assets/stars.png) repeat top center;
z-index:0;
}

.twinkling {
background:transparent url(./assets/twinkling.png) repeat top center;
z-index:1;
animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(./assets/clouds.png) repeat top center;
  z-index:2;
  opacity: .4;
  animation:move-clouds-back 200s linear infinite;
}